<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

	<category label="30015">
		<setting type="sep" />
		<setting label="30021" type="lsep"/>
		<setting id="did" type="text" label="30022" default="a727d722-3faa-4e60-83b2-159ea9588e93"/>
		<setting id="sid" type="text" label="30023" default="s%3APeZJ3cbnOzgiKS44oCM6_l4tfznoNvG9.Za5UGYCwo36TRIoR5LfqAyoShN7AEqgfGsz0ImzJxgA"/>
		<setting type="sep" />
	</category>

</settings>
